<nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
  <div class="container">
    <a class="navbar-brand" href="../index.html"
      ><img
        class="logo"
        alt="logo"
        width="50px"
        height="50px"
        src="../img/logo/logo.png"
      />
      Code211</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="../index.html#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../workshops/index.html">Workshops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index.html#schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index.html#faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index.html#sponsors">Sponsors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../contact/index.html">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
